* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background-color: black;
  padding: 2em;
  width: 14em;
  border-radius: 5em;
  box-shadow: 0.2em 0.2em 0.5em black;
}

h1 {
  font-size: 2.2em;
  font-family: Verdana, sans-serif;
}
