@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

.wrapper {
    height: 100vh;
    background: #222629;
}

.wrapper:focus {
    outline: none;
}

.navbar {
    background: #1b1e20 !important;
    box-shadow: #1b1e20 0 4px 10px 10px;
}

.navbar-brand {
    font-size: 2.8em;
    color: #84C708 !important;
    opacity: 100% !important;
}

.navbar-nav a:hover {
    color: #84C708 !important;
}

.navbar-nav a:active {
    color: #84C708 !important;
}

.nav-item {
    font-size: 1.6em;
    transition: all 0.4s ease;
}

h1 {
    font-size: 2.488em;
}

h2 {
    font-size: 2.074em;
    text-shadow: black 4px 4px 5px;
    line-height: 1.6;
    color: #84C708;
    margin-bottom: 5rem;
}

p {
    font-family: 'Spartan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#aboutLink {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}


#about h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#about p {
    font-size: 0.9em;
    line-height: 1.6;
    color: #DADBDC;
}

#polygon {
    width: 90px;
    transition: all 0.4s ease;
}

#polygon:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#blog a {
    font-family: 'Spartan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 7px;
    color: white;
    border: 3px solid #84C708;
    border-radius: 130px;
    font-size: 1em;
    width: 5rem;
    transition: all 0.4s ease;
}

#blog a:hover {
    background: #84C708;
    color: #222629;
    font-weight: 510;
    transform: scale(1.15);
}

#blog a:active {
    background: #84C708;
    color: #222629;
    font-weight: 510;
}

#testLab a {
    font-family: 'Spartan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    color: #DADBDC;
    line-height: 3;
    transition: all 0.4s ease;
}

#testLab a:hover {
    color: #84C708;
}

#testLab {
    height: auto;
    padding-top: 110px;
}

#contact p {
    font-size: 0.9em;
    line-height: 1.6;
    color: #DADBDC;
}

#contact h2 {
    margin-top: 5rem;
}

#contact img {
    width: 4rem;
    transition: all 0.4s ease;
}

#contact img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

@media(min-width: 47em) {
    body {
        font-size: 1em;
    }

    .navbar-brand {
        font-size: 2.52em;
    }

    .nav-item {
        font-size: 1.44em;
    }

    #about p {
        width: 40em;
        margin: auto;
    }

    #blog a {
        padding: 8px;
        color: white;
        border: 3px solid #84C708;
        border-radius: 130px;
        font-size: 1em;
        width: 6rem;
    }

    #contact p {
        width: 40em;
        margin: auto;
    }
}

@media(min-width: 64.125em) {
    body {
        font-size: 1.1em;
    }

    .navbar-brand {
        font-size: 2.29em;
    }

    .nav-item {
        font-size: 1.318em;
    }

    #blog a {
        padding: 9px;
        color: white;
        border: 3px solid #84C708;
        border-radius: 130px;
        font-size: 1em;
        width: 7rem;
    }
}

@media(min-width: 94em) {
    body {
        font-size: 1.2em;
    }

    .navbar-brand {
        font-size: 2.1em;
    }

    .nav-item {
        font-size: 1.318em;
    }

    #blog a {
        padding: 10px;
        color: white;
        border: 3px solid #84C708;
        border-radius: 130px;
        font-size: 1em;
        width: 8rem;
    }
}