body {
  padding: 0;
  margin: auto;
  margin-top: 10%;
  background: black;
  color: white;
  text-align: center;
  width: 65%;
  font-size: 2em;
}

@media (max-width: 706px) {
  body {
    font-size: 1em;
  }
}